/* for some reason, netlify ignores the first ruleset in this file, so I have put this purple colored h6 here to save my whole site from breaking */
h6 {
	color: purple;
}

main {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 1em;
	margin-bottom: 1em;
}

main article {
	width: 45vw;
	height: 20vw;
	padding: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 0.1em solid gray;
}

main article:hover img {
	transform: scale(1.1);
}

main article:nth-of-type(odd) {
	border-right: 0.1em solid gray;
}

main article:last-of-type {
	border: none;
}

main article:nth-last-of-type(2) {
	border-bottom: none;
}

main article .img-container {
	min-width: 40%;
	max-width: 40%;
	overflow: hidden;
}

main article .img-container img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	transition: transform 1s;
}

main article .article-content {
	padding: 0 0.7em;
	margin-bottom: 0.3em;
	justify-content: space-between;
}

main article .article-content span {
	display: block;
	font-size: 1em;
	font-style: italic;
	color: #d30d1d;
	font-weight: normal;
	padding-bottom: 0.5em;
}

main article .article-content h2 {
	font-size: 1em;
	padding-bottom: 0.5em;
	font-weight: bold;
}

.fa-external-link-alt {
	font-size: 0.8em;
	margin: 0 0.7em;
	color: #c09e9e;
}

main article .article-content a {
	font-size: 0.9em;
}

main article .article-content a::after {
	content: ' >';
	font-weight: bold;
}

main article .article-content a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1024px) {
	main article {
		width: 90vw;
		padding: 1em;
	}

	main article .article-content a {
		font-size: 0.8em;
	}

	main article:nth-of-type(odd) {
		border-right: none;
	}

	main article:nth-last-of-type(2) {
		border-bottom: 1px solid gray;
	}

	main article .img-container {
		min-width: 25%;
		max-width: 25%;
	}
}

@media screen and (max-width: 768px) {
	main article .article-content h2,
	main article .article-content span {
		font-size: 0.9em;
	}

	main article .img-container {
		min-width: 30%;
		max-width: 30%;
	}
}

@media screen and (max-width: 500px) {
	main {
		padding: 0.3em;
	}

	main article {
		height: 35vw;
		width: 97.5%;
		padding: 0.5em 0;
	}

	main article .article-content {
		padding: 0 0.3em;
	}

	main article .article-content h2 {
		padding: 0;
	}

	main article .article-content span {
		padding-bottom: 0.3em;
	}

	main article .article-content h2,
	main article .article-content span {
		font-size: 0.8em;
	}

	main article .article-content h2,
	a {
		display: inline;
	}

	main article .article-content a::after {
		content: '';
	}
}
